* {
  background-color: aliceblue;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  background-color: transparent;
}
.output {
  background-color: beige;
  border: 1px solid black;
  border-radius: 50px;
  margin-top: 10vh;
  padding: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
header {
  background-color: burlywood;
  width: 200vh;
}
h1 {
  background-color: transparent;
  margin: 10px;
  padding: 10px;
}
h2 {
  margin: auto;
  padding: auto;
}
#input,
#output {
  height: 3vh;
  width: 25vh;
  margin: auto;
  padding: auto;
  border: 1px 0cap;
  background-color: transparent;
}
p {
  background-color: transparent;
}

.btn {
  height: 3vh;
  width: 7vh;
  margin: 1vh;
  padding: 1vh;
  border: none;
  margin: 1px;
  color: rgb(12, 12, 11);
  background-color: rgb(82, 206, 34);
  padding: 1px;
  border-radius: 50px;
}

.btn:hover {
  color: crimson;
  background-color: aquamarine;
}
.btn-div {
  margin: auto;
  padding: auto;
}
